/*  your css code here. If applicable */
.box{
	width:100px;
	height:100px;
	background-color:red;
	animation:pulse 1s ease-in-out infinite;
}
@keyframes pulse{
	from{
		.box{
			translate:scale(1.2);
		}
	}
	to{
		.box{
			translate:scale(1.5);
		}
	}
}